.pager{
    padding-right: 86px;
    padding-left: 0%;
    margin: 0 0px 20px 0px;
    text-align: center;
    list-style: none;
    position: fixed;
    bottom: 33px;
    height: 30px;
    width: 88%;
}

butt {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}